<html>
<head>
	<meta http-equiv="content-type" content="text/html;charset=utf-8" />
	<title>nRT - Gerador de Trânsito</title>
	<link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.5/css/bootstrap.min.css">
	<link href="css/slider.css" media="screen" rel="stylesheet" type="text/css" />
	<link href="css/style.css" media="screen" rel="stylesheet" type="text/css" />
</head>

<body ng-app="nrt-roads">
	<a href="https://github.com/paulovelho/gerador-de-transito"><img style="position: absolute; top: 0; right: 0; border: 0;" src="https://camo.githubusercontent.com/38ef81f8aca64bb9a64448d0d70f1308ef5341ab/68747470733a2f2f73332e616d617a6f6e6177732e636f6d2f6769746875622f726962626f6e732f666f726b6d655f72696768745f6461726b626c75655f3132313632312e706e67" alt="Fork me on GitHub" data-canonical-src="https://s3.amazonaws.com/github/ribbons/forkme_right_darkblue_121621.png"></a>
	<div class="container">
		<div class="row row-roader" ng-controller="roadController">
			<div class="col-md-6 col-sm-6 data">
				<div class="row ng-controls-reseters" ng-hide="playing || reset">
					<div class="col-md-12 center">
						<button class="btn btn-danger" ng-click="resetRoad()">Change settings</button>
					</div>
				</div>			
				<div class="row ng-controls-reseters" ng-show="reset">
					<div class="col-sm-4 col-xs-6">
						Faixas:<br/>
						<input type="radio" name="set_lanes" ng-model="lanes" value="3" class="haddad-pen" /> 3<br/>
						<input type="radio" name="set_lanes" ng-model="lanes" value="4" class="haddad-pen" /> 4<br/>
						<input type="radio" name="set_lanes" ng-model="lanes" value="5" class="haddad-pen" /> 5<br/>
					</div>
					<div class="col-sm-4 col-xs-6">
						Extensão da via:<br/>
						<input type="radio" name="set_size" ng-model="size" value="40" class="haddad-pen" /> 1 km<br/>
						<input type="radio" name="set_size" ng-model="size" value="60" class="haddad-pen" /> 1,5 km<br/>
						<input type="radio" name="set_size" ng-model="size" value="80" class="haddad-pen" /> 2 km<br/>
						<input type="radio" name="set_size" ng-model="size" value="120" class="haddad-pen" /> 3 km<br/>
					</div>
					<div class="col-sm-4 col-xs-6">
						Comportamento:<br/>
						<input type="checkbox" ng-model="gargalo" /> Adicionar carro quebrado (gargalo)
						<br/><br/>
						<input type="checkbox" ng-model="avoidUnexpectedBehaviour" /> Mundo Ideal
					</div>
				</div>
				<div class="row ng-controls">
					<div class="col-sm-1"><br/>Fluxo:</div>
					<div class="col-sm-11">
						<slider floor="20" ceiling="90" ng-model="flux"></slider>
					</div>
				</div>
				<br/><hr/><br/>
				<div class="row">
					<div class="col-sm-6 col-md-6">
						{{lanes}} faixas<br/>
						{{size * 20 * 1.25}}m de pista<br/>
						Tempo: {{elapsedTime()}}<br/>
						Fluxo: {{flux}} %<br/>
					</div>
					<div class="col-sm-6 col-md-6">
						Carros na pista: {{carsnow}}<br/>
						Total de carros: {{carstotal}}<br/>
						Velocidade Média: {{avg_speed}} km/h<br/>
						{{(avoidUnexpectedBehaviour ? "Mundo Ideal" : "")}}<br/>
						<span style="color: red">{{(gargalo ? "Carro quebrado na pista" : "")}}</span><br/>
					</div>
				</div>
				<br/><hr/><br/>
				<div class="row">
					<div class="col-sm-4">
						<input type="checkbox" value="true" ng-model="helpclass" /> Guide Lines<br/>
						<input type="checkbox" value="true" ng-model="debugCars" /> Debug Carros
					</div>
					<div class="col-sm-4 center">
						<button class="btn btn-success" ng-click="playpause();">{{(playing ? "pause" : "play" )}}</button>
					</div>
					<div class="col-sm-4 center">
						<input type="checkbox" value="true" ng-model="auto_pause" /> Pausar a cada minuto
					</div>
				</div>
			</div>
			<div class="col-md-4 col-sm-4">
				<div class="row">
					<div class="col-md-12 sign">{{max_speed}}</div>
				</div>
				<div class="row">
					<div class="col-md-12">
						<table class="table-road" ng-class="{ 'help-lines': helpclass, 'fancy-cars': !debugCars }">
							<tr ng-repeat="i in [] | range: size">
								<td class="index">{{i%5==0 ? (i*20*1.25) + "m" : "" }}.</td>
								<td class="acostamento"></td>
								<td ng-repeat="lane in [] | range: lanes" class="road" ng-bind-html="roadShow(lane, i)"></td>
							</tr>
						</table>
					</div>
				</div>
			</div>
		</div>
	</div>
</body>

<script type="text/ng-template" id="road_table.html">

</script>

<script type="text/javascript" src="https://ajax.googleapis.com/ajax/libs/angularjs/1.4.5/angular.min.js"></script>
<script type="text/javascript" src="javascript/libs/slider.js"></script>
<script type="text/javascript" src="javascript/app.js"></script>
<script type="text/javascript" src="javascript/roader.js"></script>
<script type="text/javascript" src="javascript/car.js"></script>
</html>
