<html>
<head>
	<meta http-equiv="content-type" content="text/html;charset=utf-8" />
	<title>nRT - Gerador de Trânsito</title>
	<link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.5/css/bootstrap.min.css">
	<link href="css/slider.css" media="screen" rel="stylesheet" type="text/css" />
	<link href="css/style.css" media="screen" rel="stylesheet" type="text/css" />
</head>

<body ng-app="nrt-roads">
	<div class="container">
		<div class="row row-roader" ng-controller="roadController">
			<div class="col-md-6 col-sm-6 data">
				<div class="row ng-controls-reseters" ng-hide="playing || reset">
					<div class="col-md-12 center">
						<button class="btn btn-danger" ng-click="reset()">Change settings</button>
					</div>
				</div>			
				<div class="row ng-controls-reseters" ng-show="reset">
					<div class="col-md-4">
						Velocidade máxima:<br/>
						<input type="radio" name="set_max_speed" ng-model="max_speed" value="30" class="haddad-pen" /> 30km/h<br/>
						<input type="radio" name="set_max_speed" ng-model="max_speed" value="60" class="haddad-pen" /> 60km/h<br/>
						<input type="radio" name="set_max_speed" ng-model="max_speed" value="90" class="haddad-pen" /> 90km/h<br/>
					</div>
					<div class="col-md-4">
						Faixas:<br/>
						<input type="radio" name="set_lanes" ng-model="lanes" value="3" class="haddad-pen" /> 3<br/>
						<input type="radio" name="set_lanes" ng-model="lanes" value="4" class="haddad-pen" /> 4<br/>
						<input type="radio" name="set_lanes" ng-model="lanes" value="5" class="haddad-pen" /> 5<br/>
					</div>
					<div class="col-md-4">
						Extensão da via:<br/>
						<input type="radio" name="set_size" ng-model="size" value="40" class="haddad-pen" /> 1 km<br/>
						<input type="radio" name="set_size" ng-model="size" value="60" class="haddad-pen" /> 1,5 km<br/>
						<input type="radio" name="set_size" ng-model="size" value="80" class="haddad-pen" /> 2 km<br/>
						<input type="radio" name="set_size" ng-model="size" value="120" class="haddad-pen" /> 3 km<br/>
					</div>
				</div>
				<div class="row ng-controls">
					<div class="col-md-12">
						<slider floor="20" ceiling="90" ng-model="flux"></slider>
					</div>
				</div>
				<div class="row">
					<div class="col-md-4">
						Tempo: {{elapsedTime()}}<br/>
						Carros na pista: {{carsnow}}<br/>
						Total de carros: {{carstotal}}<br/>
					</div>
					<div class="col-md-4">
						Fluxo: {{flux}} %
					</div>
					<div class="col-md-4"> 
						<div class="sign">{{max_speed}}</div>
					</div>
				</div>
				<br/><br/>
				<div class="row">
					<div class="col-md-12 center">
						<button class="btn btn-success" ng-click="playpause();">{{(playing ? "pause" : "play" )}}</button>
					</div>
				</div>
			</div>
			<div class="col-md-6 col-sm-6">
				<table class="table-road bordered">
					<tr ng-repeat="i in [] | range: size">
						<td class="index">{{i}}.</td>
						<td ng-repeat="lane in [] | range: lanes" class="road" ng-bind-html="roadShow(lane, i)"></td>
					</tr>
				</table>
				</div>
		</div>
	</div>
</body>

<script type="text/ng-template" id="road_table.html">

</script>

<script type="text/javascript" src="https://ajax.googleapis.com/ajax/libs/angularjs/1.4.5/angular.min.js"></script>
<script type="text/javascript" src="javascript/libs/slider.js"></script>
<script type="text/javascript" src="javascript/app.js"></script>
<script type="text/javascript" src="javascript/roader.js"></script>
<script type="text/javascript" src="javascript/car.js"></script>
</html>
